<div class="container ">
  <div class="row">

    <div class="col-xs-12 col-sm-offset-4 col-sm-6 ">
      <%= link_to  new_recipe_path, class: "button-memo " do %>
      <i class="fas fa-utensils"></i>  Add a recipe
      <% end %>
    </div>
  </div>
  <div class="div cadre">
    <div class="row">
      <% @recipes.each do |recipe| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= link_to recipe.name , recipe_path(recipe.id) , class: "button-friends "%>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 col-md-1">
      <div class="icons-size">
        <%= link_to root_path, class: "button-memo button-fleche-width  " do %>
        <i class="fas fa-angle-double-left"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
