
<div class="container ">
  <div class="row">
    <div class="col-xs-2 col-md-1">
      <div class="icons-size">
        <%= link_to :back, class: "button-memo button-fleche-width  " do %>
        <i class="fas fa-angle-double-left"></i>
        <% end %>
      </div>
    </div>
  </div>

 <iframe src="<%= @recipe.link%>" height="600" width= 100% > </iframe>
<!-- <iframe src="https://www.750g.com/mousse-au-chocolat-incroyable-r99153.htm
" height="600" width= 100% > </iframe> -->
<!-- css media query
ou
boot strap iframe modal ... -->

 </div>
