<div class="container">
  <br />
  <div class="row">
    <div class="col-xs-12 col-md-12">

        <span class="icons-size">
          <%= link_to suggestions_recipes_path , method: :post, class: " button-fleche-width  " do %>
          <i class="fas fa-angle-double-left"></i>
          <% end %></span>
    </div>
  </div>
  <br />


    <div class="iframerecipe">
        <iframe class="mobile" height="100%" width="100%" scrolling="no" src=""></iframe>

        <iframe class="desktop" height="1000" width="100%" scrolling="yes" src=""></iframe>
    </div>

</div>
