<div class="modal fade" id="myModale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="button-custo btn-block" data-dismiss="modal"><%=t('close_button')%></button>
         <h3 class="test">
            paragraph
        </p>
      </div>
      <div class="modal-body">
        <div class="iframerecipe">
           <p class="test">
              paragraph
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
