<div class="banner">
  <div class="container">
    <div class="banner-content">
      <% if !user_signed_in? %>
        <h1>MemoCook</h1>
        <h2>Never cook twice the same recipe for your friends and family </h2>
      <% else %>
       <!--  <a class="button-home btn-lg">My Friends</a> -->

        <%= link_to "My Friends", friends_path, class: "button-home btn-lg" %>
        <%= link_to "My Recipes", friends_path, class: "button-home btn-lg" %>

      <% end %>

   </div>
  </div>
</div>



