.cadre {
  // border: 1px solid white;
  // box-shadow: 1px , 1px, 2px, grey;
  padding: 10px;
  margin: 5px;

}
.cadrerecipe {
  //border: 1px solid linear-gradient(180deg, #83CE56, #F76800);
  border: 1px solid grey;

  box-shadow: 1px , 1px, 2px, grey;
  padding: 10px;
  margin: 5px;

}
