.modal-body  {

  margin: 0px;
  color: black;
  text-align: left;
}


.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  text-align: left;
  color: black;

}
.modal-erreur {
  color: red;
}
.button {
  margin-top: 40px;
}

link {
  text-decoration: none;
  color: white;
}
