// .card {
//   height: 175px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-size: cover !important;
//   background-position: center;
//   color: white;
//   position: relative;
//   background: linear-gradient(180deg, white, white);
//   margin-top: 10px;
// }



.card {
  height: 80px;
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  background: linear-gradient(180deg, #FFFFFF, #FFFFFF);
  margin-top: 10px;
  font-family: 'Maven Pro', sans-serif;
}
.card-recipe {
  height: 100px;
  background-size: cover !important;
  background-position: center;
  color: #FFFFFF;
  position: relative;
  background: linear-gradient(180deg, #FFFFFF, #FFFFFF);
  margin-top: 10px;
  font-family: 'Maven Pro', sans-serif;
  border-radius: 5%;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.1);
}
.card-category {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.card-category-brand {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: #FF6B00;
  font-weight: bold;
}
.card-description {
  position: absolute;
  top: 10px;
  left: 30px;
}
.card-how-many {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.card-description-recipe {
  position: absolute;
  top: 15px;
  left: 10px;
}
.card-description-recipe h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  vertical-align: middle;
  color: #FFFFFF;
  margin-top: 17px;
}
.card-description h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  vertical-align: middle;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-user {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  border-radius: 50%;
}
.card-button-recipe-add {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 40px;
  border-radius: 50%;
}



.card-button-recipe-visualize {
  position: absolute;
  right: 90px;
  top: 2px;
  width: 50px;

}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: #000000;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}



.card-test {
    border: 0;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-top: 60px;
    border-radius: 6px !important;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    color: #000000;
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.card-test-opacity {
     opacity: 0.5;
}
.card-test.card-profile-test{
    text-align: center;

}
.card-description-test h2  {
  position: absolute;
  top: 10px;
  left: 86px;
  font-size: 18px;
  color: #000000
}


.card-profile-test .card-avatar-test {
    width: 80px;
    height: 80px;
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    margin-left: 0px;
    // box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.card-profile-test .card-avatar-test1 {
    width: 0px;
    height: 80px;
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    margin-left: 0px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.card-profile-test .card-avatar-test img{
    width: 100%;
    height: 100%;
}

.card-button-test {
  position: absolute;
  top: 12px;
  right: 14px;
}

.card-button-test-opacity {
  position: absolute;
  top: 12px;
  right: 14px;
  opacity: 0.5;
}
.card-button-test-ingredient {
  position: absolute;
  top: 43px;
  right: 2px;
}
.card-button-ingredient {
  position: absolute;
  bottom: 2px;
  right: 16px;

}
.card-button-add-test {
  position: absolute;
  top: 2px;
  right: 2px;
}
.card-how-many-test {
  position: absolute;
  bottom: 2px;
  right: 38px;
  width: 130px;
}

.card-user-test {
  position: absolute;
  right: 150px;
  top: 2px;
  width: 40px;
  border-radius: 50%;
}
.card-time-test{
  position: absolute;
  bottom: 2px;
  right: 50px;
  font-size: 16px;
  text-transform: uppercase;

}

.add-test {
  display: flex;
  align-items: center;
  padding: 25px;
}
