/* Main navbar */
.home-navbar-wagon {
  transition: all 0.2s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #F90D0E, #F80C0D);;
}
.home-navbar-wagon-logo {
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 17px;
  h3 {
  font-size: 40px;
  }
}

.home-navbar-wagon-flag {
  font-size: 19px;
  border: white 2px solid;

}

/* Logo */
.home-navbar-wagon-brand {
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.home-navbar-wagon-brand:hover {
  text-decoration:none;
  color: white;
  opacity: 0.5;
}

.home-navbar-wagon-brand:active {
  text-decoration:none;
  color: white;
}

/* User Avatar */
.home-navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.home-navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic home-navbar item */
.home-navbar-wagon-item {
  cursor: pointer;
  padding-left: 20px;
}

/* home-Navbar link */
.home-navbar-wagon-link {
  color: white;
  font-weight: 300;
  font-size: 17px;
  transition: all 0.2s ease;
}
.home-navbar-wagon-link:hover {
  color: white;
  opacity: 0.5;
  text-decoration: none;
}

/* Dropdown menu */
.home-dropdown-toggle {
  color: white;
  :hover {
    text-decoration:none;
    color: white;
    opacity: 0.5;
  }
  :active {
    color: white;
  }
}

.home-navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px rgba(0,0,0, 0.3);
  border-color: #E6E6E6;
}
.home-navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.home-navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.home-navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
