.modal-description {
  font-size: 30px;
  font-weight: 300;
  padding-top: 10px;
  text-align: left;
  vertical-align: middle;
  color: white;
}
.modal-body-custo {
padding-top: 0px;
padding-left: 6px;
}
