.modal-description {
  font-size: 15px;
  font-weight: 300;
  padding-top: 10px;
  text-align: left;
  vertical-align: middle;
  color: black;
}
.modal-body-custo {
padding-top: 0px;
padding-left: 6px;
}
